body{
    background-color:#E5E5E5;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width:100vw;
    height:80px;
    top:0px;
    position:fixed;
    background-color:#FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

header img{
    width:75px;
    height:53px;
    position:absolute;
    left:22px;
    top:16px;
}

header ion-icon{
    font-size:45px;
    position:absolute;
    right:21px;
    top:18px;
}

footer{
    width:100vw;
    height:80px;
    position:fixed;
    background-color:#FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    bottom:0px;
}

footer ion-icon{
    font-size:26px;
    position:absolute;
    right:18px;
    top:27px;
}

footer input{
    height:30px;
    border:none;
    width:80vw;
    position:absolute;
    top:25px;
    left:17px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

footer input:focus{
    outline:none;
}

::placeholder { 
    opacity: 1;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  
:-ms-input-placeholder { 
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
  
::-ms-input-placeholder { 
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  footer p{
    font-size:14px;
    line-height:25px;
    font-style:normal;
    font-weight:300;
    position:absolute;
    bottom:4px;
    left:20px;
}

main{
    width:100vw;
    margin-top:80px;
    height:calc(100vh - 160px);
    margin-bottom:80px;
    overflow-y:scroll;
}

.msg {
    display:flex;
    align-items:center;
    border-radius: 2px;
    margin-bottom:4px;
    word-wrap:normal;
    word-break:break-word;
}

.msg:first-child{
    margin-top:26px;
}
.msg p{
    font-style:normal;
    font-weight:400;
    color:#000000;
    font-size:14px;
    line-height:16.41px; 
    margin: 12px 10px 10px 12px;

}

.msg span{
    font-weight:lighter;
    color:#AAAAAA;
}

.msg strong{
    font-weight:bold;
}

.status{
    background-color:#DCDCDC;
}

.message{
    background-color:#FFFFFF;
}

.private_message{
    background-color:#FFDEDE;
}

.background{
    position:fixed;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.6);
    left:0px;
    top:0px;
    z-index:2;
}

aside section{
    background-color:#FFFFFFFF;
    position:fixed;
    z-index:3;
    right:0px;
    top:0px;
    width:259px;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
}

aside strong{
    font-weight: bold;
    text-align: center;
}

aside p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;  
}

aside p:first-child{
    margin-top:20px;
}

aside .container{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    height:calc(100vh - 230px);
    overflow-y:scroll;
    
}

aside .container:last-child{
    height:80px;
    overflow-y:hidden;
}

.option{
    width:100%;
    display:flex;
    align-items: center;
    margin-bottom:5px;
}

.option .textBox{
    display:flex;
    align-items: center;
    width:140px;
    height:36px;
    line-height:36px;
    overflow-x:scroll;
}


.option ion-icon{
    margin-top:5.5px;
    font-size:25px;
    margin-right:7px;
    margin-left:17px;
    margin-bottom:5.5px;
    position:relative;
}

.option ion-icon:last-child{
    color: #28BB25;
    right:25px;
    display:none;
    position:static;
    left:40px;

}

.selected ion-icon:last-child{
    display:unset;
}

.hidden{
    display:none;
}